name: Docker Image CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:
    runs-on: self-hosted
    outputs:
      test_failed: ${{ steps.check_test_outcome.outputs.test_failed }}
    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Log in to GitHub Container Registry (optional)
      # If you need to push the built image, authenticate here.
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Step 3: Pull the Cached Image
      - name: Pull Cached Image
        run: docker pull ghcr.io/psal-postech/torchsim_base:latest || echo "No cache available"



      # Step 5: Test the Docker Image (Optional)
      - name: Run a container for testing
        env:
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        continue-on-error: true
        run: |
          echo ${IMAGE_TAG}
          docker run --rm \
            -v ${{ github.workspace }}:/dump \
            -e TORCHSIM_DUMP_PATH=/dump \
            torchsim-ci:1735302113 python3 PyTorchSim/test_extension_backend.py
        outputs:
          test_failed: ${{ job.status == 'failure' }}

      - name: Build Docker Image with Token
        env:
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/dump \
            "${IMAGE_TAG}" chown -R $(id -u):$(id -g) /dump

      - name: Fail report
        if: failure()
        run: |
          echo "One or more steps in the workflow failed."
          exit 1