name: Docker image CI

on:
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build-and-test:
    runs-on: self-hosted

    permissions:
      contents: read
      packages: write

    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: recursive

      # Step 2: Log in to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Step 3: Build and Push Docker Image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          no-cache: true
          tags: ghcr.io/psal-postech/torchsim-test:${{ github.sha }}

      # Step 4: Wait for GHCR propagation
      - name: Wait for GHCR propagation
        run: |
          for i in {1..30}; do
            echo "Checking if image exists in GHCR (attempt $i)..."
            if docker manifest inspect ghcr.io/psal-postech/torchsim-test:${GITHUB_SHA} > /dev/null 2>&1; then
              echo "Image is now available in GHCR."
              exit 0
            fi
            echo "Image not yet available, retrying in 30 seconds..."
            sleep 20
          done
          echo "Image did not become available in GHCR within expected time."
          exit 1

  test-pytorchsim-wrapper:
    needs: build-and-test
    uses: ./.github/workflows/pytorchsim_test.yml
    with:
      image_name: ghcr.io/psal-postech/torchsim-test:${{ github.sha }}
      vector_lane: 128
      spad_size: 128

#  call-test2:
#    needs: build-and-test
#    uses: ./.github/workflows/pytorchsim_test.yml
#    with:
#      image_name: ghcr.io/psal-postech/${GITHUB_SHA}
#      vector_lane: 8
#      spad_size: 32