name: Build & Push Docker Image on Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: self-hosted

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: PSAL-POSTECH/PyTorchSim
          ref: ${{ github.ref_name }}
          submodules: recursive

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Tag Environment
        run: |
          echo "IMAGE_TAG=torchsim-ci:${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "GITHUB_SHA=$GITHUB_SHA" >> $GITHUB_ENV
          echo "GITHUB_SHA=$GITHUB_SHA"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          secrets: |
            GIT_ACCESS_TOKEN=${{ secrets.GIT_ACCESS_TOKEN }}
          tags: ghcr.io/psal-postech/${{ env.IMAGE_TAG}}